<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctor Sillystringz's Factory</title>
    
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
    <body>
      <div class="background">
      @RenderBody()
      </div>
      
    </body>
</html>