@{
  Layout = "_Layout";
}
<h1>Welcome to your Factory Management Site Dr. SillyStringz!</h1>
<h2>Here you will find all of your engineers and machines!</h2>

<h3>@Html.ActionLink("See All Engineers", "Index", "Engineer")</h3>
<h3>@Html.ActionLink("See All Machines", "Index", "Machine")</h3>